<header class="header">
  <a href="/">NodeJS</a>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

  <div class="header_button">
    <button class="searchBtn" aria-expanded="false">
      Search
      <svg
        width="17"
        height="17"
        viewBox="0 0 17 17"
        fill="none"
        xmls="http://www.w3.org/2000/svg"
      >
        <path d="M7.79167 13.4"></path>
      </svg>
    </button>
  </div>
</header>
